.product-container{
    display: flex;
    flex-wrap: wrap;
}
.product-item{
    border: 1px solid #ccc;
    margin :20px;
    padding: 20px;
}
.product-item img{
     width: 200px;
     height: 200px;
}